@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/*
====================
Navbar
====================
*/
body{
    margin: 0px;
}
.navbar-custom {
    background-color: #E3F2FD;
    background-image: url("../Images/9.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid #F5BB83;
}
.navbar-brand img{
    padding-right: 10px;
    width: 145px;
    height: 48px;
}
.nav-link {
    color: rgb(3, 122, 3);
    font-size: 20px;
    font-weight: 450;
}
/*Login/Register Button*/
.btn {
    width: 86px;
    height: 37px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
}
.btn:focus {
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}
.nav-item a:hover {
    color: rgb(54, 52, 52);
    font-weight: 470;
}
/*~~~~~~~~~~~~~~~~This isn't working ~~~~~~~~~~~~~*/
.active {
    color: #ffffff;
}
/*~~~~~~~~~~~~~~~~




/*
====================
Home
====================
*/
.home-content{
    padding-bottom: 50px;
}

.home-content .card{
    
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.2s;

}
.home-content .card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.home-content .card a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.home-content .card a:hover{
    text-decoration: none;
    color: #000000;
}
.home-content .card img{
    height: 150px;
}
.carousel .carousel-inner {
    height:400px
}
.carousel-inner .carousel-item img {
    min-height:200px;
    /*prevent it from stretch in screen size < than 768px*/
    object-fit:cover
}


/*
====================
MSP Table
====================
*/
.msp-content{
    padding: 70px 60px 60px 60px;
    background-image: url("../Images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.msp-content h2{
    font-size: 34px;
    color: rgb(0, 26, 0);  
}
.msp-content h3{
    font-family: Goudy Bookletter 1911, sans-serif;
    font-size: 23px;
    color:  rgb(4, 58, 4);
    font-style: italic;
}
.msp-content p{
    padding: 0px 2px 5px 8px ; 
    color: rgb(23, 41, 23);
    font-style: italic;
    
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgb(144, 204, 144); 
}
.tab{
    background:rgb(216, 252, 216);
    border-color: red;
}
.c {
    text-align: center !important;
}


/*
====================
Schemes
====================
*/
.schemes-content{
    padding: 60px 50px 50px 80px;
    background-image: url("../Images/b3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.schemes-content h2{
    font-size: 42px;
    margin: 0px 0px 30px 0px;
    text-align: center;
    color: rgb(4, 58, 4);

}
.schemes-content .card{
    width:70%;
    margin: auto;
}
.schemes-content .card-body h5{
    font-size: 20px;
    font-weight: 600;
    color: rgb(2, 48, 2);
    margin: 0 0 10px;
    padding: 0;

}
.schemes-content .card-body p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
}

.schemes-content .card-body a{
    font-size: 14px;
    color: rgb(10, 206, 10);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid rgb(10, 206, 10);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.schemes-content .card-body .arrow {
  border: solid rgb(10, 206, 10);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.2px;
  margin-bottom: 1px;
}

.schemes-content .card-body .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.schemes-content .card-body .arrow:hover {
    color:  rgb(3, 109, 3);
    border-color:  rgb(3, 109, 3);
}
.schemes-content .card-body a:hover{
    color:  rgb(3, 109, 3);
    border-color:  rgb(3, 109, 3);
}


/*
====================
Loan Calculator
====================
*/

h2{
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
}

@media(min-width:768px) {
  .center{
    margin: 1.5% 30%;
  }
}
#loan-info{
	display: none;
	margin: 20px auto;
}
#table-header{
    text-align: left;
    overflow: auto;
    display: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
}
#table{
    text-align: center;
    max-height: 50vh;
    overflow: auto;
    display: none;
}
#info-table {
	display: none;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #B7FEED;
}



/*mobile view*/
@media(max-width:763px) {
    /*Home Page*/
    .Logo .TeamName{
     font-size: 24px;
    }
    .navbar-brand {
        font-size: 17px;
    }
    .btn {
    width: 86px;
    }
    .carousel .carousel-inner {
        /*prevent it from adding a white space between carousel and container elements*/
        height:auto
    }
    .Logo .TeamName{
        font-size: 24px;
    }
    /*MSP*/
    .msp-content{
        padding: 25px 20px 60px 20px;
    }
    .msp-content h2{
        font-size: 28px;
    }
    .msp-content h3{
        font-size: 20.5px;
    }
    .t-c {
        text-align: center !important;
    }
    /*Schemes Page*/
    .schemes-content{
        padding: 0px 0px 0px 0px;
        background-image: url("../Images/b2.jpg");
    }  
    .schemes-content .card{
        width:90%;
    }
    .schemes-content h2{
        text-align: center;
        font-weight: 600;
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .home-content .card {
        width: 400px;
        height :340px;
        margin: 20px 0px 0px 30px;   
    }
    .home-content .card img{
        height: 150px;
    }
    /*MSP*/
    .msp-content {
        padding: 70px 130px 60px 130px;
    }
    .msp-content p{
        text-align: center;
        font-size: 18px;
        padding-bottom: 22px;
    }
    .msp-content h2{
        padding-bottom: 15px;
        font-size: 38px;
    }
}


/*
====================
Footer
====================
*/
footer {
    border-top: 1px solid #000;
    background-color: #E3F2FD;
    background-image: url("../Images/10.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-top: 1px solid #000;
    border-top: 1px solid #F5BB83;
    text-align: center;
    position: relative;
    height: -100px;
    padding: 10px;
    line-height: 11px;  
}
.Logo .TeamName{
    font-size: 28px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    position: relative;
    top:6px;
   
}
.Logo img{ 
    position: relative;
    top:-1px;
    width: 32px;
    height: 30px;
}
.copyright {
    color: rgb(214, 212, 212);
    padding: 3px;
    top:3px;
}
