{% extends "krishyojana/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block additional_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'krishyojana/css/secondary.css' %}">
  <style>
        .bg-image{
            background-image: url( "{% static 'krishyojana/images/bg/users-bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: top;
            background-attachment: fixed;
            border: none;
        }
    </style>
{% endblock additional_styles %}

{% block content %}
    
    <!-- Registration Form -->
    <div class="content-section  col-sm-6 bg-image">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>

{% endblock content %}