{% extends "krishyojana/base.html" %}

{% load static %}

{% block additional_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'krishyojana/css/secondary.css' %}">
  <style>
        .bg-image{
            background-image: url( "{% static 'krishyojana/images/bg/cart-bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: top;
            background-attachment: fixed;
            border: none;
        }
    </style>
{% endblock additional_styles %}

{% block content %}

    <div class="container">
        <div class="pt-5 row">
            <div class="card ml-xs-5 mr-xs-5 col-sm-5 m-3 ml-lg-5" style="max-width: 300px">
                <img src="{{ post.image.url }}" class="card-img-top pt-3" alt="crop-image" style="max-height: 200px">
                <div class="card-body pb-0">
                    <p>
                    <span class="card-title name pt-1 pl-1 pr-1">Crop: {{ post.crop_name }}</span></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2"><img class="rounded-circle account-img-small" src="{{ post.author.profile.image.url }}">Producer: {{ post.author }}</li>
                    <li class="list-group-item">Rate: &#8377; {{ post.rate }} /kg ; Amount left: {{ post.amount_left }}kg</li>
                    <li class="list-group-item">Harvested in: {{ post.harvest_time }}</li>
                    <li class="list-group-item text-muted">Posted on: {{ post.date_posted|date:"F d, Y" }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'add_to_cart' post.id %}" class="card-link">Add to cart</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="card-link">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
          
{% endblock content %}
