{% extends "krishyojana/base.html" %}

{% load static %}

{% block additional_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'krishyojana/css/secondary.css' %}">
{% endblock additional_styles %}

{% block content %}

    <div class="container">
        <div class="pt-5 row">
            <div class="card col-sm-5 m-3 ml-md-5">
                <img src="{% static 'krishyojana/images/emarket.jpg' %}" class="card-img-top pt-3" alt="...">
                <div class="card-body pb-0">
                    <p>
                    <span class="card-title name">Crop: {{ post.crop_name }}</span></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Producer: {{ post.author }}<img class="rounded-circle account-img-small" src="{{ post.author.profile.image.url }}"></li>
                    <li class="list-group-item">Rate: &#8377; {{ post.rate }} /kg</li>
                    <li class="list-group-item">Harvested in: {{ post.harvest_time }}</li>
                    <li class="list-group-item">Amount left: {{ post.amount_left }}kg</li>
                    <li class="list-group-item text-muted">Posted on: {{ post.date_posted|date:"F d, Y" }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                    <a href="#" class="card-link">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
          
{% endblock content %}
