/*
====================
Basic Layout
====================
*/
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: auto auto;
  margin-top: 2rem;
}

/*mobile view*/
@media(max-width:768px)	{
	.content-section {
		/*prevent it from adding a white space between carousel and container elements*/
		height:auto
		width: 60%;
		align-self : center;
	}
}

/*
====================
Profile Page
====================
*/

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/*
====================
Home
====================
*/
.home-content{
    padding-bottom: 50px;
}

.home-content .card{
    
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.2s;

}
.home-content .card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.home-content .card a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.home-content .card a:hover{
    text-decoration: none;
    color: #000000;
}
.home-content .card img{
    height: 150px;
}
.carousel .carousel-inner {
    height:400px
}
.carousel-inner .carousel-item img {
    min-height:200px;
    /*prevent it from stretch in screen size < than 768px*/
    object-fit:cover
}
/*mobile view*/
@media(max-width:768px)	{
	.carousel .carousel-inner {
		/*prevent it from adding a white space between carousel and container elements*/
		height:auto
	}

	/* for cards */
	#card-phn {
		margin: 1px;
		margin-bottom: 50px;
	}
}
/*
====================
MSP Table
====================
*/
.msp-content{
    padding: 70px 60px 60px 60px;
}
.msp-content h2{
    font-size: 34px;
    color: rgb(0, 26, 0);  
}
.msp-content h3{
    font-family: Goudy Bookletter 1911, sans-serif;
    font-size: 23px;
    color:  rgb(4, 58, 4);
    font-style: italic;
}
.msp-content p{
    padding: 0px 2px 5px 8px ; 
    color: rgb(23, 41, 23);
    font-style: italic;   
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgb(144, 204, 144); 
}
.tab{
    background:rgb(216, 252, 216);
    border-color: red;
}
.c {
    text-align: center !important;
}

/*
====================
Schemes
====================
*/
.schemes-content{
    padding: 60px 50px 50px 80px;
    background-image: url("../Images/b3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.schemes-content h2{
    font-size: 42px;
    margin: 0px 0px 30px 0px;
    text-align: center;
    color: rgb(4, 58, 4);

}
.schemes-content .card{
    width:70%;
    margin: auto;
}
.schemes-content .card-body h5{
    font-size: 20px;
    font-weight: 600;
    color: rgb(2, 48, 2);
    margin: 0 0 10px;
    padding: 0;

}
.schemes-content .card-body p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
}

.schemes-content .card-body a{
    font-size: 14px;
    color: rgb(10, 206, 10);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid rgb(10, 206, 10);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.schemes-content .card-body .arrow {
  border: solid rgb(10, 206, 10);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.2px;
  margin-bottom: 1px;
}

.schemes-content .card-body .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.schemes-content .card-body .arrow:hover {
    color:  rgb(3, 109, 3);
    border-color:  rgb(3, 109, 3);
}
.schemes-content .card-body a:hover{
    color:  rgb(3, 109, 3);
    border-color:  rgb(3, 109, 3);
}
/*
====================
Scheme Detail Page
====================
*/
#sc-container {
    /*for fixed footer*/
    min-height: 92.8%;
    background-image: url("../Images/a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.scheme-content{
    padding:3% 10% 0% 12%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.scheme-content .text .arrow {
  border: solid rgb(3, 95, 3);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5.5px;
  margin-bottom: 4px;
}
.scheme-content .text .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.scheme-content .text h2{
    padding-bottom: 10px;
    color: rgb(20, 19, 19);
    font-weight: 500;
}
.scheme-content .text .sub-h{
    font-size: 19px;
    color:  rgb(4, 58, 4);
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Noto Sans', sans-serif; 
  font-size: 15px;
  color: rgb(39, 36, 36);
  font-weight: 600;
}
/* Animation */
.typewriter {
  animation: animated-text 3s steps(30,end) 1s 1 normal both;
}
/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/*
====================
E-market
====================
*/
.name {
  color: #444444;
  font-weight: 600;
  font-size: 25px;
}
.account-img-small {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-bottom: 3px;
}
#cart {
  color: #fff;
  align-self: center;
  margin-left: 40%;
  margin-top: 40px;
}
#message {
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  padding: 10px;
  font-size: 17px;
  color: #eee;
}

#close-button{ 
  border:none; 
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
  text-decoration: underline;
  margin-left: 20px;
} 

/*
====================
Loan Calculator
====================
*/

.LoanCalculator{
    padding: 12px 60px 101px 60px;
}
.LoanCalculator h2{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.LoanCalculator h2 i{
    font-size: 35px;
    padding: 0px 2px 0px 0px; 
    top: -10px;
}
.LoanCalculator .content-section{
    background-color: rgba(250, 250, 250, 0.938);
    font-size: 16.5px;
}

@media(min-width:768px) {
  .LoanCalculator .center{
    margin: 1.5% 30%;
  }
}
.LoanCalculator #loan-info{
    display: none;
    margin: 20px auto;
}
.LoanCalculator #table-header{
    text-align: left;
    overflow: auto;
    display: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
}
.LoanCalculator #table{
    text-align: center;
    max-height: 50vh;
    overflow: auto;
    display: none;
}
.LoanCalculator #info-table {
    display: none;
}
.LoanCalculator .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #B7FEED;
}



/*mobile view*/
@media(max-width:763px) {
    .content-section {
        /*prevent it from adding a white space between carousel and container elements*/
        height:auto
        width: 60%;
        align-self : center;
    }    
    /*Home Page*/
    .Logo .TeamName{
        font-size: 24px;
    }
    .navbar-brand {
        font-size: 17px;
    }
    #navbar .btn {
    width: 86px;
    }
    .carousel .carousel-inner {
        /*prevent it from adding a white space between carousel and container elements*/
        height:auto
    }
    .Logo .TeamName{
        font-size: 24px;
    }
    /*MSP*/
    .msp-content{
        padding: 25px 20px 60px 20px;
    }
    .msp-content h2{
        font-size: 28px;
    }
    .msp-content h3{
        font-size: 20.5px;
    }
    .t-c {
        text-align: center !important;
    }
    /*Schemes Page*/
    .schemes-content{
        padding: 0px 0px 0px 0px;
    }  
    .schemes-content .card{
        width:90%;
    }
    .schemes-content h2{
        text-align: center;
        font-weight: 600;
        color: rgb(226, 222, 222);
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 32px;
    }
    /*Scheme Detail Page*/
    .scheme-content{
        padding:4% 5% 0% 5%;
    }
    .scheme-content .text h2{
        font-size: 20px;
        text-align: center;
    }
    .scheme-content .text .sub-h{
        font-size: 15px;
    }
    /*Scheme Detail Page*/
    .scheme-content{
        padding:4% 5% 0% 5%;
    }
    .scheme-content .text h2{
        font-size: 20px;
        text-align: center;
    }
    .scheme-content .text .sub-h{
        font-size: 15px;
    }
    /*Loan Calculator*/
    .LoanCalculator{
        padding: 0px 1px 50px 1px;
    }
    .LoanCalculator h2{
        padding-top: 25px;
        font-size: 35px;
    }
    .LoanCalculator h2 i{
        font-size: 30px;
    }
    .LoanCalculator .content-section{
       font-size: 15px;
    }
   /*Emarket*/
   #cart {
      padding: 22px 0px 0px 0px;
      font-size: 35px;
      margin-left: 38px;
   }
}

@media only screen and (min-width: 992px) {
    .home-content .card {
        width: 400px;
        height :340px;
        margin: 20px 0px 0px 30px;   
    }
    .home-content .card img{
        height: 150px;
    }
    /*MSP*/
    .msp-content {
        padding: 70px 130px 60px 130px;
    }
    .msp-content p{
        text-align: center;
        font-size: 18px;
        padding-bottom: 22px;
    }
    .msp-content h2{
        padding-bottom: 15px;
        font-size: 38px;
    }
}
