/*
====================
Basic Layout
====================
*/
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: auto auto;
  margin-top: 2rem;
}

/*mobile view*/
@media(max-width:768px) {
	.content-section {
		/*prevent it from adding a white space between carousel and container elements*/
		height:auto
		width: 60%;
		align-self : center;
	}
}

/*
====================
Profile Page
====================
*/

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/*
====================
Home
====================
*/
.home-content{
    padding-bottom: 50px;
}

.home-content .card{
    
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.2s;

}
.home-content .card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.home-content .card a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.home-content .card a:hover{
    text-decoration: none;
    color: #000000;
}
.home-content .card img{
    height: 150px;
}
.carousel .carousel-inner {
    height:400px
}
.carousel-inner .carousel-item img {
    min-height:200px;
    /*prevent it from stretch in screen size < than 768px*/
    object-fit:cover
}
/*mobile view*/
@media(max-width:768px)	{
	.carousel .carousel-inner {
		/*prevent it from adding a white space between carousel and container elements*/
		height:auto
	}

	/* for cards */
	#card-phn {
		margin: 1px;
		margin-bottom: 50px;
	}
}
/*
====================
MSP Table
====================
*/
.msp-content{
    padding: 70px 60px 60px 60px;
    background-image: url("../Images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.msp-content h2{
    font-size: 34px;
    color: rgb(0, 26, 0);  
}
.msp-content h3{
    font-family: Goudy Bookletter 1911, sans-serif;
    font-size: 23px;
    color:  rgb(4, 58, 4);
    font-style: italic;
}
.msp-content p{
    padding: 0px 2px 5px 8px ; 
    color: rgb(23, 41, 23);
    font-style: italic;   
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgb(144, 204, 144); 
}
.tab{
    background:rgb(216, 252, 216);
    border-color: red;
}
.c {
    text-align: center !important;
}

/*
====================
E-market
====================
*/
.name {
  color: #444444;
  font-weight: 600;
  font-size: 25px;
}
.account-img-small {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-bottom: 3px;
}
#cart {
  color: #fff;
  align-self: center;
  margin-left: 40%;
  margin-top: 40px;
}
#message {
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  padding: 10px;
  font-size: 17px;
  color: #eee;
}

input{ 
  border:none; 
  background-color: rgba(0, 0, 0, 0);
  color: #eee;
  text-decoration: underline;
  margin-left: 20px;
} 