<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Icon -->
        <link rel="icon" href="#">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="main.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Rubik:ital,wght@0,500;1,600&family=Shadows+Into+Light&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">

        <style>
        .bg-image{
            background-image: url( "../Images/cart-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: top;
            background-attachment: fixed;
        }
    </style>

    </head>
    <body class="bg-image">
        <div class="sc-container">
            <!--Navigation-->
            <nav class="navbar navbar-expand-lg  sticky-top navbar-custom">
                <span class="navbar-brand">
                    <img src="../Images/krish-icon.png" alt="logo">  
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="nav-burger">
                        <img src="../Images/nav-btn.png">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link pt-3" href="{% url 'krish-home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link pt-3 dropdown-toggle" href="{% url 'krish-schemes' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Schemes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Category 1</a>
                                <a class="dropdown-item" href="#">Category 2</a>
                                <a class="dropdown-item" href="#">Category 3</a>
                                <a class="dropdown-item" href="#">Category 4</a>
                                <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Others</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-3" href="{% url 'krish-msp' %}">MSP</a>
                        </li>
                        <li class="nav-item {% if request.path == emarket %} active {% endif %}">
                            <a class="nav-link pt-3" href="{% url 'krish-emarket' %}">E-marketing</a>
                        </li>
                    </ul>
        
                    <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary mx-1">Log In</button></a>
                    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-secondary mx-1">Register</button></a>
                </div>
            </nav>

            <!--Content-->
            <div class="container">
                <h1 id="cart">Cart</h1>
                <div class="pt-5 row">

                    <div class="card ml-xs-5 mr-xs-5 col-sm-5 m-3 ml-lg-5" style="max-width: 300px">
                        <img src="../Images/9.jpg" class="card-img-top pt-3" alt="..." style="max-height: 200px">
                        <div class="card-body pb-0">
                            <p>
                            <span class="card-title name p-1">Crop: Corn</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-2"><img class="rounded-circle account-img-small" src="../Images/17.jpg"> Producer: Gopu</li>
                            <li class="list-group-item p-2">Rate: &#8377; 40/kg ; Amount left: 10 kg</li>
                            <li class="list-group-item p-2">Harvested in: August 2020</li>
                            <li class="list-group-item p-2 text-muted">Posted on: 1 October 2020</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                            <a href="{% url 'register' %}" class="card-link pl-5">Remove</a>
                        </div>
                    </div>

                    <div class="card ml-xs-5 mr-xs-5 col-sm-8 m-3 ml-lg-5" style="max-width: 300px">
                        <img src="../Images/14.jpg" class="card-img-top pt-3" alt="..." style="max-height: 200px">
                        <div class="card-body pb-0">
                            <p>
                            <span class="card-title name p-1">Crop: Rice</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-2"><img class="rounded-circle account-img-small" src="../Images/7.jpg"> Producer: Trishi</li>
                            <li class="list-group-item p-2">Rate: &#8377; 15/kg ; Amount left: 30 kg</li>
                            <li class="list-group-item p-2">Harvested in: September 2020</li>
                            <li class="list-group-item p-2 text-muted">Posted on: 25 September 2020</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                            <a href="{% url 'register' %}" class="card-link pl-5">Remove</a>
                        </div>
                    </div>

                    <div class="card ml-xs-5 mr-xs-5 col-sm-8 m-3 ml-lg-5" style="max-width: 300px">
                        <img src="../Images/19.jpeg" class="card-img-top pt-3" alt="..." style="max-height: 200px">
                        <div class="card-body pb-0">
                            <p>
                            <span class="card-title name p-1">Crop: Wheat</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-2"><img class="rounded-circle account-img-small" src="../Images/18.jpg"> Producer: Jayanto</li>
                            <li class="list-group-item p-2">Rate: &#8377; 20/kg ; Amount left: 35 kg</li>
                            <li class="list-group-item p-2">Harvested in: September 2020</li>
                            <li class="list-group-item p-2 text-muted">Posted on: 11 September 2020</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                            <a href="{% url 'register' %}" class="card-link pl-5">Remove</a>
                        </div>
                    </div>

                    <div class="card ml-xs-5 mr-xs-5 col-sm-8 m-3 ml-lg-5" style="max-width: 300px">
                        <img src="../Images/16.jpg" class="card-img-top pt-3" alt="..." style="max-height: 200px">
                        <div class="card-body pb-0">
                            <p>
                            <span class="card-title name p-1">Crop: Tomato</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-2"><img class="rounded-circle account-img-small" src="../Images/20.jpg"> Producer: Devsaran</li>
                            <li class="list-group-item p-2">Rate: &#8377; 40/kg ; Amount left: 30 kg</li>
                            <li class="list-group-item p-2">Harvested in: September 2020</li>
                            <li class="list-group-item p-2 text-muted">Posted on: 10 September 2020</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'profile-detail' post.id %}" class="card-link">View Profile</a>
                            <a href="{% url 'register' %}" class="card-link pl-5">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="Logo">
                <img src="../Images/nbotlogo.png" alt="logo">
                <span class="TeamName">The N-bots</span>
                <br>
                <small class="copyright">&copy;Copyright.All rights reserved.</small>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>