{% extends "krishyojana/base.html" %}

{% load static %}

{% block additional_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'krishyojana/css/secondary.css' %}">

  <style>
        .bg-image{
            background-image: url( "{% static 'krishyojana/images/bg/schemes-detail-bg.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock additional_styles %}

{% block content %}

    <!-- CONTENT -->
    <div class="scheme-content">

            <!-- <p> <a href="../Category1.html" style="text-decoration: underline;">Category</a> <span>&rarr;</span> SchemeName </p> -->
                <div class="text">
                    <h2><i class="arrow right"></i><i class="arrow right"></i> Prime Minister Jeevan Jyoti Bima Yojana</h2>
                    <p>This is a Life Insurance scheme with risk coverage of Rs. 2 Lakh in case of death of the insured, due to any reason.
                        <br> <br>
                        <b class="sub-h">Eligibility Criteria:</b>
                        <ul>
                            <li>Farmers must have a Savings Account (or Jan-Dhan Account) .</li>
                            <li>Farmers belonging to any Indian state are eligible under this scheme.</li>
                            <li>The Criteria of selection of Implementing Agency and area allocation will be same as PMFBY.</li>
                        </ul>
                        <br>
                        <b class="sub-h"> Documents required: </b><br>
                        <ul>
                            <li>Bank Passbook</li>
                            <li>Aadhar Card</li>
                        </ul>
                        <br>
                        <b class="sub-h">Toll-Free Helpline Number:</b><br>
                        <ul>
                            <li>Number : 013-265498592</li>
                            <li>Email: pmjjby-insurance@gov.in</li>
                        </ul> 
                    </p>
                    <p class="typewriter">
                        <b class="sub-h">Website: </b> 
                        <a href="http://www.dif.mp.gov.in/pmjjy.htm">http://www.dif.mp.gov.in</a>
                    </p>
                </div>
            </div>
        </div>


    
          
{% endblock content %}