{% extends "krishyojana/base.html" %}

{% load static %}

{% block additional_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'krishyojana/css/secondary.css' %}">

  <style>
        .bg-image{
            background-image: url( "{% static 'krishyojana/images/bg/schemes-bg.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        @media(max-width:763px) {
            .bg-image {
                background-image: url( "{% static 'krishyojana/images/bg/schemes-phn-bg.jpg' %}");
            }
        }
    </style>
{% endblock additional_styles %}

{% block content %}

    <!-- CONTENT -->
    <div class="schemes-content">
        <h2>Insurance Schemes </h2>
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Pradhan Mantri Fasal Bima Yojana (PMFBY)</h5>
                <p class="card-text">Provides comprehensive insurance cover against failure of the crop thus helping in stabilising the income of the farmers.</p>
                <a href="{% url 'insurance_1' %}">Read More <i class="arrow right"></i><i class="arrow right"></i></a>
            </div>
        </div>
       <br>
       <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Prime Minister Jeevan Jyoti Bima Yojana</h5>
                <p class="card-text">Life Insurance scheme with risk coverage of Rs. 2 Lakh in case of death of the insured, due to any reason.</p>
                <a href="{% url 'insurance_2' %}">Read More <i class="arrow right"></i><i class="arrow right"></i></a>
            </div>
        </div>
       <br>
       <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Pradhan Mantri Suraksha Bima Yojana</h5>
                <p class="card-text">An accident Insurance scheme, PMSBY offers a one-year accidental death and disability cover, which can be renewed annually.</p>
                <a href="{% url 'insurance_3' %}">Read More <i class="arrow right"></i><i class="arrow right"></i></a>
            </div>
        </div>
       <br>
       <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Livestock insurance Scheme</h5>
                <p class="card-text">Provides protection mechanism to the farmers against any eventual loss of their animals due to death.</p>
                <a href="{% url 'insurance_4' %}">Read More <i class="arrow right"></i><i class="arrow right"></i></a>
            </div>
        </div>
        <br>
    </div>
          
{% endblock content %}